<div *ngFor="let rss of rssList" class="list-group">
  <div class="list-group-item">
    <h4>
      <img *ngIf="rss.icon" [src]="'data:image/jpeg;base64,'+rss.icon" width="24px" height="24px" />
      <a class="ml-3" href="{{rss.urlSite}}">{{rss.name}}</a>
      <a class="ml-3" href="{{rss.urlRss}}"><i class="fa fa-rss"></i></a>
      <a class="ml-3" href="/rss/edit/{{rss.id}}"><i class="fa fa-cogs"></i></a>
    </h4>
    <p>{{rss.description}}</p>
  </div>
</div>

<p *ngIf="rssList.length === 0">There are no feeds rss at the moment.</p>