<!-- <p>Feeds included in this column:</p>

<p *ngIf="column.feedsRss.length == 0">There is no feeds in this column yet. 
  Click on the button Insert bellow to start adding.</p>

<div *ngFor="let rss of column.feedsRss" class="list-group">
  <div class="list-group-item">
    <img *ngIf="rss.icon" [src]="'data:image/jpeg;base64,'+rss.icon" width="20px" height="20px" />
    <a class="ml-3" href="{{rss.urlSite}}">{{rss.name}}</a>
    <a class="ml-3" href="{{rss.urlRss}}"><i class="fa fa-rss"></i></a>
    <a><i class="fa fa-times"></i></a>
  </div>
</div> -->

WIP: Add here option to change type and remove column