<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
  <a class="navbar-brand" [routerLink]="['/home']">The Cake</a>
    
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/feeds']" >Feeds</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/rss/add']">Add RSS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/rss/list']">Feeds RSS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/grid/add']">Add Grid</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/column/add']">Add Column</a>
      </li>
    </ul>


  </div>
  <ul *ngIf="loggedIn()" class="navbar-nav mr-auto float-right">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link btnLogout" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
    </li>
  </ul>

</nav>
