ul {
    list-style-type: none;
    margin: 0;
}

.pointer {
    cursor: pointer;
    width: 1em
}

.pointer:hover {
    background-color: rgb(255, 212, 196);
    border-radius: 7px;
}

.feedSelect {
    cursor: pointer;
}

.feedSelect:hover {
    color: chocolate
}