<form class="m-5" [formGroup]="rssForm" (ngSubmit)="addRss()">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Rss Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Name" 
      formControlName="name" 
      [ngClass]="{ 'is-invalid': rssForm.get('name').errors && 
      rssForm.get('name').touched }" />
      <div class="invalid-feedback">RSS name required</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Url Site</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="www.example.com" 
      formControlName="urlSite" 
      [ngClass]="{ 'is-invalid': rssForm.get('urlSite').errors && 
      rssForm.get('urlSite').touched }" />
      <div class="invalid-feedback">URL from Site required</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Url rss</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="www.example.com/feed" 
      formControlName="url"
      [ngClass]="{ 'is-invalid': rssForm.get('url').errors && 
      rssForm.get('url').touched }" />
      <div class="invalid-feedback">URL from RSS required</div>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Language</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio"
            formControlName="language" [value]="0"/>
          <label class="form-check-label"> English </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio"
            formControlName="language" [value]="1" />
          <label class="form-check-label"> Portuguese </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio"
            formControlName="language" [value]="2" />
          <label class="form-check-label"> Spanish </label>
        </div>
      </div>
    </div>
  </fieldset>
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Category</legend>
      <div class="col-sm-10 d-flex flex-row">
        <input type="text" readonly class="form-control col-sm-10" 
          placeholder="Select a category" formControlName="categoryName" />
        <button type="button" class="btn btn-outline-primary col-sm-2 ml-1" 
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Show
        </button>
      </div>
    </div>
    <div class="col-sm-12" id="collapseExample" [ngbCollapse]="isCollapsed">
        <app-category-list
        class="categories-in"
        [showSelectToFeed]="true"
        (catToFeed)="onSelectedToFeed($event)">        
        </app-category-list>
      </div>
  <div class="form-group row mt-2">
    <div class="col-sm-2">Status</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
          formControlName="isActive" />
        <label class="form-check-label"> Activated </label>
      </div>
    </div>
  </div>
  <div class="form-group d-flex justify-content-end">
      <button type="button" class="btn btn-info" (click)="onPreviewRss()"
      [disabled]="rssForm.get('url').invalid">
          Preview Content
        </button>
      <button type="submit" [disabled]="rssForm.invalid" 
        class="btn btn-success ml-1" >
        Add
      </button>
  </div>
  <!-- errors: {{rssForm.errors}}
  <div *ngIf="rssForm.get('rssName').hasError('required')">
      rssName is required</div>
    <div *ngIf="rssForm.get('urlSite').hasError('required')">
        urlSite is required</div>
    <div *ngIf="rssForm.get('urlRss').hasError('required')">
        urlRss is required</div>
    <div *ngIf="rssForm.get('categoryName').hasError('required')">
        categoryName is required</div>
    <div *ngIf="rssForm.get('categoryId').hasError('required')">
        categoryId is required</div>
    <div *ngIf="rssForm.get('language').hasError('required')">
        language is required</div>
    <div *ngIf="rssForm.get('isActive').hasError('required')">
        isActive is required</div> -->
  <div class="row" *ngIf="rssPreviewItems">
        <div class="panel">
          <div class="panel-body">
            <ul class="list-group list-group-dividered list-group-full" 
              *ngFor="let item of rssPreviewItems">
              <li class="list-group-item">
                <div class="media">
                  <div class="media-body">
                    <small class="text-muted pull-right">{{item.publishDate | timeAgo}}</small>
                    <div class="feed_title"><a href="{{item.uri}}">{{item.title}}</a></div>
                    <div>{{item.excerpt.substring(0,150) + '...'}}</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
  </div>
</form>
