<div class="main m-3 d-flex">
    <!-- <button
      class="btn pull-right btn-danger mr-1"
      (click)="editMode = !editMode"
    >
      Remove
    </button> -->
    <ul class="list-group flex-grow-1">
      <li *ngFor="let cat of hierarchicalCategories">
        <app-category-list-child
          [category]="cat"
          [editMode]="editMode"
          [catFormDirty]="category?.english?.length > 3"
          [showSelectToFeed]="showSelectToFeed"
          (selectedCat)="onSelectedCat($event)"
          (selectedParent)="onSelectedParent($event)"
          (catToFeed)="showSelectToFeed && onSelectedToFeed($event)"
        >
        </app-category-list-child>
      </li>
    </ul>

    <form class="editForm form my-2 my-lg-0" (ngSubmit)="addCategory()">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          (change)="changeEditMode()"
        />
        <label class="form-check-label">Edit Mode</label>
      </div>
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="English"
        name="english"
        required
        [(ngModel)]="category.english"
      />
      <input
        class="form-control mr-sm-2"
        type="text"
        name="portuguese"
        placeholder="Portuguese"
        [(ngModel)]="category.portuguese"
      />
      <input
        class="form-control mr-sm-2"
        type="text"
        name="spanish"
        placeholder="Spanish"
        [(ngModel)]="category.spanish"
      />
      <input
        class="form-control mr-sm-2"
        type="text"
        name="parent"
        placeholder="Category Parent"
        [ngModel]="category?.parent?.english"
        readonly
      />
      <div class="d-flex justify-content-between">
        <button
          [disabled]="editMode || !category?.english || !category?.parent"
          class="btn btn-success"
          type="submit"
        >
          Add
        </button>
        <button
          class="btn btn-info"
          type="button"
          (click)="editCategory()"
          [disabled]="!editMode || !category?.id"
        >
          Edit
        </button>
        <button
          [disabled]="!editMode || !category?.id"
          class="btn btn-danger"
          type="button"
          (click)="removeCategory()"
        >
          Remove
        </button>
      </div>
    </form>
</div>
