<form class="m-5" [formGroup]="rssForm" (ngSubmit)="addRss()">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Rss Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Name" 
      formControlName="name" 
      [ngClass]="{ 'is-invalid': rssForm.get('name').errors && 
      rssForm.get('name').touched }" />
      <div class="invalid-feedback">RSS name required</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Url Site</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="www.example.com" 
      formControlName="urlSite"
      
      [ngClass]="{ 'is-invalid': rssForm.get('urlSite').errors && 
      rssForm.get('urlSite').touched }" />
      <div class="invalid-feedback">URL from Site required</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Url rss</label>
    <div class="col-sm-10">
      <div class="d-flex inline">
        <input type="text" class="form-control" placeholder="www.example.com/feed" 
        formControlName="urlRss"
        [ngClass]="{ 'is-invalid': rssForm.get('urlRss').errors && 
        rssForm.get('urlRss').touched }" />
        <button class="btn btn-info ml-1" type="button"
          [disabled]="!rssForm.get('urlSite').value"
          (click)="useDefaulRssFeed()">
          <span class="text-nowrap">Use Default</span>
        </button>
      </div>
      <div class="invalid-feedback">URL from RSS required</div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <label class="col-form-label">Description</label>
    </div>
    <div class="col-sm-10 d-flex inline">
      <textarea class="form-control" rows="2" formControlName="description"></textarea>      
      <button (click)="onImportDescription()" class="btn btn-info ml-1"
        type="button"
        [disabled]="!rssForm.get('urlSite').value">Import from HTML</button>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <label class="col-form-label">Icon Path</label>
      <img [src]="'data:image/jpeg;base64,'+rssToEdit.icon" width="24px" height="24px"
        [ngClass]="{'bg-danger': rssForm.get('newIconPath').value}"
        *ngIf="rssToEdit?.icon" class="ml-2">
      <img width="24px" height="24px" class="bg-success ml-2"
        [(src)]="rssForm.get('newIconPath').value"
        *ngIf="rssForm.get('newIconPath').value" />
    </div>
    <div class="col-sm-10 d-flex inline align-items-center">
      <input type="text" class="form-control" formControlName="newIconPath"
        placeholder="www.example.com/favicon.ico"/>
      <button class="btn btn-info ml-1" type="button"
        [disabled]="!rssForm.get('urlSite').value"
        (click)="onTryIcon()">
        <span class="text-nowrap">Try Default</span>
      </button>
    </div>
  </div>
  <div class="form-group row mt-2">
    <div class="col-sm-2">Status</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
          formControlName="isActive" />
        <label class="form-check-label"> Activated </label>
      </div>
    </div>
  </div>
  <div class="form-group d-flex justify-content-end">
      <button type="button" class="btn btn-info" (click)="onPreviewRss()"
      [disabled]="rssForm.get('urlRss').invalid">
          Preview Content
        </button>
      <button type="submit" [disabled]="rssForm.invalid || rssPreviewItems.length == 0" 
        *ngIf="!this.rssToEdit" class="btn btn-success ml-1" >
        Add
      </button>
      <button class="btn btn-success ml-1" type="button" *ngIf="this.rssToEdit" 
        (click)="editRss()" [disabled]="rssForm.invalid || rssPreviewItems.length == 0">
          Edit
        </button>
  </div>

  <div class="row border border-info" *ngIf="rssPreviewItems.length > 0" 
    style="height:150px;overflow-y: scroll;">
    <ul class="list-group" *ngFor="let item of rssPreviewItems">
      <li class="list-group-item mb-0">
        <div class="media">
          <div class="media-body">
            <small class="text-muted pull-right">{{item.posted | timeAgo}}</small>
            <div class="feed_title"><a href="{{item.link}}">{{item.title}}</a></div>
            <div>{{item.content.substring(0,140) + '...'}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</form>